body {
  font-family: 'Lora', serif;
  margin: 0;
  color: #fcccfb;
}

/* Top part*/
#home {
  background-image: url('https://st4.depositphotos.com/26271666/27668/i/450/depositphotos_276687122-stock-photo-fresh-green-leaves-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 800px;
  overflow: hidden;
}
nav {
  z-index: 10;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 2rem;
}

li:hover {
  color: white;
  cursor: pointer;
}

.beauty {
  text-align: center;
  padding: 70px;
  cursor: none;
}

.beauty::after {
  content: '';
  width: 20%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 170px;
  right: 574px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

p {
  margin: 0;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translate(50px, 0px);
}
img {
  object-fit: cover;
  width: 22rem;
  height: 30rem;
  margin: 20px;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button {
  background-color: #e0b4da;
  border: none;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  color: #525e4f;
  letter-spacing: 3px;
}

button:hover {
  background-color: #525e4f;
  cursor: pointer;
  color: #e0b4da;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
}

/* Blog */
.blog {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
.blog-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 70px;
}

.intro {
  font-size: 30px;
  color: #f5f6f7;
  position: relative;
  left: 40px;
  top: -100px;
  cursor: pointer;
}

.intro::after {
  content: '';
  background: #f5f6f7;
  position: absolute;
  left: 3px;
  bottom: -4px;
  height: 2px;
  width: 80%;
}

.intro:hover {
  color: #f7e4f6;
}
.intro:hover::after {
  background: #f7e4f6;
}

.time {
  position: relative;
  top: 50px;
  left: 40px;
  bottom: 0px;
  color: white;
  font-size: 12px;
}

.author-time {
  display: flex;
  gap: 8px;
}
